body {
    background: url(add.jpg) center;
    background-size: cover;
    margin: 0;
 
  }

#add-book-page {
    position:relative;
    top: 150px;
    bottom: 50px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-book-page h1 {
    color: #333;
    text-align: center;
}

#add-book-page .form-group label {
    font-weight: bold;
    color: #555;
    text-shadow: none;
}
