/* styles.css */

body {
    background: url(loginPage.jpg) center;
    background-size: cover;
    margin: 0;
 
  }
  
  .navbar-custom {
    background-color: #004d99;
  }
  
  .form-group {
color: #ddd;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  .btn-primary {
    background-color: #cc0000;
    border: none;
  }
  
 
  
  /* Styling form inputs */
  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea {
    font-size: 15px; /*Inside box text size*/
  color: #ffffff;  
  border: 1px solid #aaa;  
  width: 100%;  
  box-sizing: border-box; 
  }
  label {
    font-size: 25px; 
    font-weight:500;
    color: #fcfafa; 
    text-shadow: 7px 7px 7px rgba(0,0,0,0.5);
  }
  h3 {
    font-size: 35px; 
    font-weight: bold;
    color: #fcfafa; 
    text-align: center;
    text-shadow: 7px 7px 7px rgba(0,0,0,0.5);
  }
  
  /* Customizing list items */
  .list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
   
  