{% extends "base.html" %}

{% block title %}
Book List
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='book_list.css') }}">
{% endblock %}

{% block content %}
<div id="book-list-page">
    <h1>List of Books</h1>

    <!-- Add Book button visible only to admins -->
    {% if current_user.is_admin %}
        <a href="/add-book"><button class="btn btn-primary">Add Book</button></a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Total Copies</th>
                <th>Available Copies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in books %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.author }}</td>
                <td>{{ row.copies }}</td>
                <td>{{ row.remaining_copies }}</td>
                <td>
                    {% if not current_user.is_admin %}
                        {% if row.id not in borrowed_book_ids %}
                        <!-- Enable Borrow Button -->
                        <form action="/borrow-book/{{ row.id }}" method="POST">
                            <button type="submit" class="btn btn-success">Borrow</button>
                        </form>
                        {% else %}
                        <!-- Disable Borrow Button -->
                        <button class="btn btn-secondary" disabled>Borrowed</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
