    <!-- 
    Template for Reset Password Page.

    This template extends the base layout and provides a form for users to reset their password.

    Structure:
    - Title Block: Sets the page title to "Reset Password".
    - Content Block: Displays a centered header and a password reset form.
        - Form includes:
            - Input fields for new password and confirmation password, each required.
            - A submit button styled with Bootstrap for form submission.
    - The form uses the POST method to securely send the new password data.

    Purpose:
    - Ensures a user-friendly interface for password reset functionality.
    -->

    {% extends "base.html" %}

    {% block title %}Reset Password{% endblock %}

    {% block content %}
    <!-- Video Background -->
    <video class="background-video" src="{{ url_for('static', filename='v14.mp4') }}" muted loop autoplay></video>

    <div class="background">
    <div class="container">
    <h3 align="center">Reset Your Password</h3>
    <form method="POST">
        <div class="form-group">
            <label for="password1">New Password</label>
            <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter your new password"
            required
            />
        </div>
        <div class="form-group">
            <label for="password2">Confirm New Password</label>
            <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm your new password"
            required
            />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    </div>
    </div>

    {% endblock %}