    <!-- 
    Sign Up Page Template.

    Purpose:
    - This template extends "base.html" and provides a form for users to sign up for an account.

    Structure:
    1. Title Block:
    - Sets the page title to "Sign Up".

    2. Content Block:
    - Background Video:
        - Displays a looping background video for a visually engaging signup page.
    - Sign-Up Form:
        - Collects user information including email, first name, last name, date of birth, address, password, and an optional admin passcode.
        - Includes required fields with proper labels and placeholders for a user-friendly experience.
        - Form submission handled via a POST method.

    Styling:
    - Uses Bootstrap classes for consistent layout and styling of the form and its elements.

    Accessibility:
    - Ensures the form fields are labeled appropriately and placeholders guide user input.

    Additional Features:
    - Optional admin passcode field for registering admin accounts.
    - Responsive and visually appealing design with the inclusion of a background video.
    -->

    {% extends "base.html" %}

    {% block title %}Sign Up{% endblock %}

    {% block content %}
    <video class="background-video" src="{{ url_for('static', filename='v4.mp4') }}" muted loop autoplay>
        Your browser does not support the video tag.
    </video>

    <div class="login-container">
        <form method="POST">
            <h2 align="center">Sign Up</h2>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
                required />
            </div>
            
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                name="firstName" 
                placeholder="Enter First Name"
                required />
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="lastName"
                name="lastName" 
                placeholder="Enter Last Name"
                required />
            </div>

            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input 
                type="date" 
                class="form-control" 
                id="dateOfBirth" 
                name="dateOfBirth" 
                placeholder="Enter date of birth: YYYY-MM-DD"
                required />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input 
                type="text" 
                class="form-control" 
                id="address" 
                name="address" 
                placeholder="Enter address"
                required />
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1" 
                placeholder="Enter password"
                required />
            </div>
            
            <div class="form-group">
                <label for="password2">Password (Confirm)</label>
                <input 
                type="password" 
                class="form-control" 
                id="password2" 
                name="password2" 
                placeholder="Confirm password"
                required />
            </div>

            <div class="form-group">
                <label for="passcode">Admin Passcode (Optional)</label>
                <input 
                type="text" 
                class="form-control" 
                id="passcode" 
                name="passcode" 
                placeholder="Enter Admin Passcode"
                />
            </div>
            
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}