body {
    background: url(add.jpg) center;
    background-size: cover;
    margin: 0;
 
  }

#book-list-page {
    display: flex;
    position:relative;
    top: 150px;
    bottom: 50px;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;    /* Centers content horizontally */
    min-height: 50vh;      /* Ensures the container takes the full height of the page */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#book-list-page h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

#book-list-page table {
    width: 100%;
    border-collapse: collapse;
}

#book-list-page table th, 
#book-list-page table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}